*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: hsl(176, 38%, 26%);
    font-family: 'Inter';
}

h1{
    margin-top: 22px;
    background: rgb(49, 19, 19);
    padding: 24px 17px 23px 28px;
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    margin: 0 auto;
    margin-bottom: 55px;
    margin-top: 22px;
    width: 636px;
    letter-spacing: 0%;
    text-align: justify;
    height: 116px;
}

.box{
    box-sizing: border-box;
    border: 10px solid rgb(255, 6, 6);
    background: rgb(0, 0, 0);
    width: 1000px;
    margin: 0 auto;
    padding: 45px 52px;
    margin-bottom: 100px;
}

.box_child{
    background: rgb(31, 232, 183);
    padding: 54px 40px;
    width: 896px;
}

.s1{
    margin-bottom: 30px;
}

p{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: justify;
    letter-spacing: 0%;
}